<#macro for_paym_not>
<div class="row col-md-12">
    <div class="col-md-3 d-flex p-2">Channel</div>

</div>
<div class="row col-md-12">
    <select class="custom-select-sm col-md-3 mt-1">
        <option selected>Select channel</option>
        <option value="1">Email</option>
        <option value="2">SMS</option>
    </select>


</div>
</#macro>