<#macro cur_control>
<table class="table table-striped">
    <thead class="table-primary">
    <tr>
        <th scope="col"></th>
        <th scope="col"><small><b>UC № / № Contract</b></small></th>
        <th scope="col"><small><b>DocNr/Ref</b></small></th>
        <th scope="col"><small><b>Contract date</b></small></th>
        <th scope="col"><small><b>Amount</b></small></th>
        <th scope="col"><small><b>VO</b></small></th>
        <th scope="col"><small><b>No documents required</b></small></th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>


</#macro>