<#macro sign>
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-dark" href="/signature">
            <small>
                <span class="fas fa-angle-right text-danger" id="sign"></span>
                <strong>SIGNATURE</strong>
            </small>
        </a>
    </li>
</ul>
</#macro>


