<#import "parts/templates/common.ftl" as c>

<@c.page>
    <h2>ВХОД В СИСТЕМУ BUSINESS.ONLINE</h2>
    <h5>Пожалуйста, введите имя пользователя и пароль.</h5>
    <form method="post" action="/login">
        <div><label>Имя пользователя<input type="text" name="username"/></label></div>
        <div><label>Пароль<input type="password" name="password"/></label></div>
        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
        <div><input type="submit" value="Вход систему >"</div>
    </form>
    <a href="/acc_overview">Ku</a>
</@c.page>