<#macro stat>
<h3 class="text-danger">STATEMENTS</h3>
<div class="row">
    <div class="mt-4 mr-2 col-md-3">Organization</div>
    <div class="col-md-8">
        <select class="custom-select mt-3 ">
            <option selected>All currently chosen clients from login...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="mt-4 mr-2 col-md-3">Chosen Account</div>

</div>


<div class="row">
    <div class="mt-4 mr-2 col-md-3">Statement History</div>

</div>


</#macro>