<#macro one_time_notif>

<div class="row col-md-12 ml-1">
    <div class="col-md-3 d-flex p-2"><small>Channel</small></div>


</div>

<div class="row col-md-12 ml-1">
    <select class="custom-select-sm col-md-3 mt-1 bg-white">
        <option selected>Select channel</option>
        <option data-toggle="collapse" data-target="#email">Email</option>
        <option data-toggle="collapse" data-target="#sms">SMS</option>
    </select>
</div>
<div class="collapse mt-1" id="email">
    Ku1
</div>
<div class="collapse mt-1" id="sms">
    Ku2
</div>

<button class="btn-sm bg-white dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Chanel
</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <button class="dropdown-item" type="button" data-toggle="collapse" data-target="#email">Email</button>
    <button class="dropdown-item" type="button" data-toggle="collapse" data-target="#sms">SMS</button>
</div>



</#macro>